<!DOCTYPE html>
<html lang="de">
<head>
  {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>{{lTel}}{{tel}}</p>
        <p>{{lMail}}<a href="mailto:korrob1990@gmail.com">{{mail}}</a></p>
        <p>{{lWeb}}<a href="https://rk-portfolio.herokuapp.com">{{web}}</a></p>

    </div>
    {{>footer}}
</body>
</html>